.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background: #fafafa;
}

.row {
  display: flex;
}

.cell {
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.cell.filled {
  background: rgb(14, 14, 14);
  border: 1px solid rgba(0, 0, 0, 1);
}
.cell.square {
  background: yellowgreen;
}

.cell.bar {
  background: blue;
}
.cell.l {
  background: salmon;
}
.cell.j {
  background: slateblue;
}

.cell.hidden {
  background: #fafafa;
  border: none;
}
