.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background: #fafafa;
}

.row {
  display: flex;
}

.side-panel {
  margin-left: 36px;
}

.cell {
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.cell.filled {
  background: rgb(14, 14, 14);
  border: 1px solid rgba(0, 0, 0, 1);
}

.cell.square {
  background: yellowgreen;
}
.cell.bar {
  background: blue;
}
.cell.l {
  background: salmon;
}
.cell.j {
  background: slateblue;
}
.cell.s {
  background: orangered;
}
.cell.z {
  background: mediumvioletred;
}

.cell.hidden {
  background: #fafafa;
  border: none;
}

.preview {
}
